@tailwind base;
@tailwind components;
@tailwind utilities;

.services__background {
  background-image: linear-gradient(
    90deg,
    rgba(255, 248, 229, 1) 33%,
    rgba(255, 248, 229, 1) 33%,
    rgba(255, 255, 255, 1) 33%
  );
}

/* Styles für die äußere Div */
.outer-card-div {
  position: relative;

  overflow: hidden;
}

/* Styles für die innere Div */
.inner-card-div {
  transform: translateY(5rem);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0%;
  transition: ease-in-out;
  transition-duration: 200ms;
}

/* Styles für die innere Div, wenn die äußere Div gehovert wird */
.outer-card-div:hover .inner-card-div {
  transform: translateY(3rem);
  opacity: 60%;
}

.testimonial-image {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media (max-width: 1279px) {
  .testimonial-image {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-radius: 1rem;
  }
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 40rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
